services:
     backend:
          build: .
          container_name: rust_backend_api
          ports:
               - "8080:8080"
          environment:
               # URL of your Python AI Service
               # Use "host.docker.internal" if running on Mac/Windows host
               # Use "172.17.0.1" (docker bridge ip) if running on Linux host
               - AI_SERVICE_URL=http://192.168.248.177:5090/predict

               # URL of your Qdrant DB
               - QDRANT_URL=https://38c16abc-090f-4840-b89d-f9f0500793e1.europe-west3-0.gcp.cloud.qdrant.io:6333
               - COLLECTION_NAME=nt_cctv_vehicles
          extra_hosts:
               - "host.docker.internal:host-gateway" # Helper for Linux to reach host
